<header>
<!--   <div>
    <h1>La bienvenue sur ma superbe application !</h1>
  </div>
  <mat-toolbar color="primary">
    <button mat-flat-button color="primary"><a [routerLink]="['/home']"
        routerLinkActive="router-link-active">Accueil</a></button>
    <button mat-flat-button color="primary"><a [routerLink]="['/movies']"
        routerLinkActive="router-link-active">Films</a></button>
    <button mat-flat-button color="primary"><a [routerLink]="['/contact']"
        routerLinkActive="router-link-active">Contact</a></button>
    <button mat-flat-button color="primary"><a [routerLink]="['/admin']"
        routerLinkActive="router-link-active">ADMIN</a></button>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <a mat-button [routerLink]="['/home']"
      routerLinkActive="router-link-active"><fa-icon [icon]="faHouse"></fa-icon></a>
      <a mat-button [routerLink]="['/movies']"
        routerLinkActive="router-link-active"><fa-icon [icon]="faFilm"></fa-icon></a>

          <a mat-button [routerLink]="['/contact']"
            routerLinkActive="router-link-active"><fa-icon [icon]="faEnvelope"></fa-icon></a>
            <a mat-button [routerLink]="['/admin']"
              routerLinkActive="router-link-active"><fa-icon [icon]="faHouseUser"></fa-icon></a>

  </mat-toolbar> -->
</header>
